header{
	text-align: center;
	color: white;
	background: linear-gradient(blue, green);
	font-size: 30px;
}

.special{
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}

nav{
	background-color: lightyellow;
	font-size: 25px;
}

h1{
	margin: 0px;
}
